# task 5

In [1]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [2]:
dict1["april_batch"]["student"]["name"]

'Mike'

In [3]:
dict1["april_batch"]["student"]["marks"]["python"]

80

In [4]:
dict1["april_batch"]["student"]["name"]="sai raj"

In [5]:
dict1

{'april_batch': {'student': {'name': 'sai raj',
   'marks': {'python': 80, 'maths': 70}}}}

In [6]:
dict1["april_batch"]["student"]["marks"]["ML"]=80

In [7]:
dict1["april_batch"]["student"]["marks"]["DL"]=80

In [8]:
dict1

{'april_batch': {'student': {'name': 'sai raj',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

## task 6

In [9]:
tup=(1,2,3,4,5)
l=list(tup)
l.append(20)#adding element 
l.remove(1)#deleting the element
tup = tuple(l)
tup

(2, 3, 4, 5, 20)

## task 7

In [12]:
a={1,2,3,4,5}
b={2,3,4,9}
a.difference(b)

{1, 5}

In [13]:
b.difference(a)

{9}

In [16]:
a={1,2,3,4,5}
b={2,3,4,9}
z=a.symmetric_difference(b)
z

{1, 5, 9}